.linksSection {
  opacity: 0;
  transition: opacity 1s ease;
  padding-top: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  width: 100%;
}

.linksSection.visible {
  opacity: 1;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 80%;
}

.link {
  background-color: white;
  padding: 12px 24px;
  width: 100%;
  border: 2px solid #fff800;
  border-radius: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 1.2rem;
  opacity: 0;
  transform: translateY(50px);
  transition: transform 1s ease, opacity 1s ease;
}

.link.left {
  transform: translateX(-50px);
}

.link.right {
  transform: translateX(50px);
}

.link.active {
  opacity: 1;
  transform: translateY(0) translateX(0);
}

.link:hover {
  background-color: #B0BEC5;
  cursor: pointer;
}

@media (max-width: 768px) {
  .link {
    padding: 8px 16px;
    font-size: 1rem;
  }
}
