/* Footer.css */
.footer {
    background-color: black;
    color: white;
    text-align: right;
    position: fixed;
    bottom: 0;
    width: 100%;
}
  
.footer p {
    margin: 0;
}
  
.footer a {
    color: white;
    text-decoration: underline;
}
  
.footer a:hover,
.footer a:focus,
.footer a:active {
    text-decoration: underline;
}
  