/* App.css */

.App {
  /* text-align: center; */
  background-color: #343a40;
}

.tabcontent {
  background-image: url('/public/img/background.jpg');
  background-color: #FFD700;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  padding-top: 50px;

  box-sizing: border-box;
}

/* Hide scrollbars */
/* Chrome, Safari */
/* .tabcontent::-webkit-scrollbar {
  width: 0;
} */

/* Firefox */
/* .tabcontent {
  scrollbar-width: none;
} */
